@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.partone {
    background: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 300px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerlogo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
}

.headerlinks {
    display: flex;
    gap: 24px;
}

.partonebody {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 400px;
}

.heromaintext {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}

.herosecondarytext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button {
    background: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 24px;
}

img {
    width: 300px;
    height: auto;
}

.parttwo {
    display: flex;
}

.partthree {
    background: #E5E7EB
}


.footer {
    background: #1F2937;
}