body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.partone {
    background: #1F2937;
    display: flex;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;
}

ul {
    display: flex;
    list-style: none;
}
